@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

footer a {
  color: lightgray;
  text-decoration: none;
}

.nav-links a {
  text-decoration: none;
  position: relative;
}

nav a:hover,
nav a:focus {
  text-decoration: underline;
  font-weight: bold;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 75%;
  margin: 0 auto;
}

header {
  padding: 2%;
}

nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 3rem;
  text-decoration: none;
}

.logo img {
  height: 100px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 3rem;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.nav-links a:hover::after {
  transform: scaleX(1);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  font-family: 'Roboto', sans-serif;
  background-color: darkblue;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.card-content h2 {
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

footer p {
  margin: 0;
  flex: 1;
  padding: 1%;
}

.card-content p {
  color: lightgray;
  margin-top: 10px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.heart {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.heart::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: background-color 0.3s;
}

.heart i {
  color: white;
  font-size: 24px;
}

.heart:hover i {
  color: red;
}

.more-link {
  color: silver;
  text-decoration: none;
}

footer {
  background-color: black;
  color: lightgray;
  padding: 20px;
  text-align: left;
  display: flex;
  align-items: center;
}

footer a:hover {
  color: white;
}
