@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");

:root {
  --primary-color: #0056b3;
  --primary-color-opaque: #0057b39d;
  --secondary-color: #7c002e;
  --tertiary-color: #203144;
  --accent-color: #fff;
  --background-color: #f5f5f5;
}

body {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(to top, #141e30, #243b55);
}

/* Scrollbar */

body::-webkit-scrollbar {
  width: 10px;
  background-color: var(--tertiary-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: var(--tertiary-color);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}

.hidden {
  display: none !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

a,
footer a {
  color: inherit;
  text-decoration: none;
}

footer a {
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-links a {
  display: block;
  font-size: 24px;
  text-decoration: none;
  color: var(--accent-color);
  font-weight: bold;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

.nav-links a,
nav a:hover,
nav a:focus {
  font-weight: bold;
}

footer a:hover {
  color: var(--secondary-color);
}

#nav-counter {
  margin-left: 0.5rem;
  font-weight: bold;
}

.container {
  max-width: 100%;
  width: 85%;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background: url('./img/header-bg.jpg') no-repeat center / cover;
  box-shadow: 0 6px 11px rgba(0, 0, 0, 0.774);
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2%;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.666); /* Adjust the opacity (0.5 in this case) to control the darkness */
}

nav {
  width: 100%;
  align-items: flex-end;
  margin: 0 auto;
  display: flex;
  z-index: 2;
}

.logo {
  margin-right: 3rem;
  text-decoration: none;
}

.logo img {
  filter: contrast(5);
  height: 100px;
}

.motto {
  display: none;
}

.nav-links li {
  margin-right: 3rem;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  background-color: var(--secondary-color);
  z-index: 50;
  border: transparent 1px solid;
  border-radius: 10px;
  display: none;
  cursor: pointer;
  position: fixed;
  padding: 15px;
  top: 3rem;
  right: 1rem;
}

@media (max-width: 768px) {
  .nav-toggle-label {
    display: block;
  }

  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
  }
}

.nav-toggle:checked ~ .nav-toggle-label {
  border: transparent 1px solid;
  border-radius: 50%;
  background-color: var(--background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  position: fixed;
}

.nav-toggle:checked ~ .nav-toggle-label:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.burger {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--accent-color);
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;
}

.nav-toggle:checked ~ .nav-toggle-label .burger {
  background-color: var(--secondary-color);
}

.nav-toggle:checked ~ .nav-toggle-label:hover .burger {
  background-color: red;
}

.nav-toggle:checked ~ #nav-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 3rem;
  width: 100%;
  height: 160px;
}

.nav-toggle:checked ~ #nav-menu li {
  width: 20%;
}

.nav-toggle:checked ~ .nav-toggle-label .burger:nth-child(2) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.nav-toggle:checked ~ .nav-toggle-label .burger:nth-child(3) {
  opacity: 0;
}

.nav-toggle:checked ~ .nav-toggle-label .burger:nth-child(4) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-toggle:checked ~ .nav-links li a {
  font-size: 24px;
  color: var(--accent-color);
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 768px) {
  header {
    height: 150px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color-opaque);
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .logo {
    margin-bottom: 1rem;
  }

  .logo img {
    display: none;
  }

  .motto {
    max-height: 150px;
    pointer-events: none;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    width: 95%;
    color: var(--accent-color);
  }

  .nav-links {
    display: none;
    flex-direction: column;
  }

  .nav-toggle:checked ~ #nav-menu {
    height: auto;
  }

  .nav-links a {
    padding: 10px 0;
    font-size: 16px;
  }

  main {
    margin-top: 150px;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5% 0;
}

.card-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  padding: 10%;
  border: 1px transparent solid;
  border-radius: 10px;
  background-color: var(--tertiary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--accent-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.6rem;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 4px 4px 0 0;
}

@media (min-width: 420px) {
  .card img {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .card img {
    width: 100%;
    min-width: 230px;
    height: 400px;
  }
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  margin: 0;
}

.card-top {
  display: flex;
  align-items: flex-start;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.card-top .title {
  flex: 1;
}

.card-likes {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

.card-like-button {
  padding-bottom: 0.3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
}

.card-like-button i {
  font-size: 24px;
  color: var(--accent-color);
}

.card-like-button:hover i {
  color: crimson;
}

.card-comments {
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  border-radius: 5px;
  cursor: pointer;
}

.card-comments:hover {
  color: var(--accent-color);
  background-color: crimson;
}

.card-comments:focus {
  outline: none;
}

footer {
  background-color: var(--tertiary-color);
  border-top: 1px solid var(--accent-color);
  color: var(--accent-color);
  padding: 20px;
  text-align: left;
  display: flex;
  align-items: center;
  margin-top: auto;
}

@media (max-width: 480px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}

/* MODAL STYLES */

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  top: 0;
  font-family: 'Roboto', sans-serif;
}

.modal-content {
  background-color: rgba(33, 33, 33, 0.9);
  position: relative;
  color: ghostwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  height: 80%;
  overflow: scroll;
}

.modal-image {
  max-width: 50%;
  border-radius: 5px;
}

.modal-title {
  font-size: xx-large;
  padding: 10px;
}

.hide {
  display: none;
}

.show-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.show-info p {
  margin: 0 15px;
  padding: 10px;
}

.modal-coments {
  margin: 10px 0;
  padding: 0;
  text-align: left;
}

.comment {
  list-style: none;
  padding: 5px 0;
}

.list-comments {
  padding: 0;
  margin: 0;
}

.add-comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.input-comment {
  padding: 5px;
  font-family: "Open Sans", sans-serif;
}

.close-button {
  width: 50px;
  right: 1rem;
  top: 1rem;
  z-index: 101;
  height: 50px;
  position: absolute;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}

.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 5px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close-button:hover::before,
.close-button:hover::after {
  background-color: crimson;
}
