@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

footer a {
  color: lightgray;
  text-decoration: none;
}

.nav-links a {
  text-decoration: none;
  position: relative;
}

nav a:hover,
nav a:focus {
  text-decoration: underline;
  font-weight: bold;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 75%;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  padding: 2%;
}

nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 3rem;
  text-decoration: none;
}

.logo img {
  height: 100px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 3rem;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.nav-links a:hover::after {
  transform: scaleX(1);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5% 0;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  padding: 0;
  border: none;
}

.card img {
  width: 100%;
  max-height: 500px;
  border-radius: 4px 4px 0 0;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  margin: 0;
}

.card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.card-top .title {
  flex: 1;
}

.card-likes .span {
  color: gray;
}

.card-top .heart {
  cursor: pointer;
  color: inherit;
}

.card-top .heart i {
  font-size: 24px;
  color: black;
}

.card-top .heart:hover i {
  fill: red;
  color: red;
}

.card-top .heart:hover i::before {
  -webkit-background-clip: red;
}

.card-comments {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  background-color: #d1d1d1;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
}

.card-comments:hover {
  color: #fff;
  background-color: #0056b3;
}

.card-comments:focus {
  outline: none;
}

footer {
  background-color: black;
  color: lightgray;
  padding: 20px;
  text-align: left;
  display: flex;
  align-items: center;
  margin-top: auto;
}

footer a:hover {
  color: white;
}
